In [23]:
import os
import numpy as np
import pandas as pd

In [24]:
# set home directory
home_path = os.getcwd()[:os.getcwd().find('Code/python/obf_autax/ocr')-1]
# set input_path
sap_path = os.path.join(home_path, 'Data', 'obf', 'roh_171_12.XLS')
ma_path = os.path.join(home_path, 'Data', 'obf', 'nutzungen_171_12.csv')

In [33]:
ma_data = pd.read_csv(ma_path, sep=',')
sap_data = pd.read_csv(sap_path, sep='\t', encoding = "ISO-8859-1", decimal=',', error_bad_lines=False)

In [34]:
ma_data

,S,MA,FL,LH,NH,SUM,DR,BH,ZP,SG,RU,Text,ABT
0,0,DE,0,0,70,0,1,1,3.0,5,23,Anfang - Mitte Dezennium,207A4
1,0,DE,0,25,55,0,1,1,3.0,6,36,Anfang - Mitte Dezennium,207C2
2,0,RM,0,400,0,0,2,1,3.0,5,23,Mitte - Ende Dezennium,207D1
3,0,DF,0,0,80,0,1,1,3.0,6,36,Anfang - Mitte Dezennium,207D2
4,0,DF,0,0,70,0,1,1,3.0,4,35,Anfang - Mitte Dezennium,207D3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
219,0,DF,0,90,0,0,1,1,3.0,1,26,Anfang - Mitte Dezennium,306P0
220,0,DF,0,40,50,0,1,1,3.0,1,26,"Anfang - Mitte Dezennium, schwierige Nutzung d...",307F0
221,0,DF,0,90,0,0,2,1,3.0,1,26,"Mitte Dezennium, im Westen, schwierige Nutzung",307G0
222,0,DF,0,70,0,0,2,1,3.0,1,30,"Mitte - Ende Dezennium, vorsichtig da Windanfä...",307H0
223,0,DE,0,70,0,0,2,1,3.0,1,26,Mitte Dezennium,307M2

In [35]:
sap_data

,Merkmalausprägung,AuswKatTyp,Teiloperats-ID,Forstbetrieb,Debitor,TO-Bezeichnung,Status,Beg. Laufzeit,Ende Laufzeit,Operat-ID,...,Zeile1,Zeile2,Zeile3,Zeile4,Zeile5,Zeile6,Zeile7,Zeile8,Bestockungsziel,Flächenanteil
0,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,"ST STOE 81/72, breiter tls steiniger Rücken i...",unter Str,BE mehr BU im N sowie an B1 - dort weniger SS...,Windschutz für B1,MA keinesfalls DF od dgl da labil und windexpo...,Maßnahmen auf B1 abstimmen,NaN,NaN,7FI 3LA,0.0
1,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,"BE im N etw älter mit kaum LH, im SO etw jüng...","LÄ, alte SS",NaN,NaN,NaN,NaN,NaN,NaN,8FI 2LA,0.0
3,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,"BE KI FI grtls lgs Str, nach SW hin reine BU,...",schöner Bestand dank entsprechender Pflege,NaN,NaN,NaN,NaN,NaN,NaN,7FI 3LA,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4345,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4346,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4347,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4348,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,Achtung FE: Neuer Waldort!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4349,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [36]:
sap_data = sap_data[sap_data['Best.-Schicht'] == 0].copy()

In [37]:
sap_data.sort_values(by=['Abteilung', 'WE-Typ', 'Unterabteil.', 'Teilfl.'], ascending=[True,False,True,True], inplace=True)
sap_data = sap_data[['Waldort', 'WE-Typ', 'Umtriebszeit', 'Ertragssituation',
       'Bewirtschaftungsform', 'Schutzwaldkategorie', 'Fläche in HA',
       'Seehöhe', 'Exposition', 'Neigung', 'Standorteinheit', 'Alter der 1. Schicht']]

In [42]:
ma_data.columns = ['S', 'MA', 'FL', 'LH', 'NH', 'SUM', 'DR', 'BH', 'ZP', 'SG', 'RU', 'Text', 'Waldort']

In [43]:
ma_data

,S,MA,FL,LH,NH,SUM,DR,BH,ZP,SG,RU,Text,Waldort
0,0,DE,0,0,70,0,1,1,3.0,5,23,Anfang - Mitte Dezennium,207A4
1,0,DE,0,25,55,0,1,1,3.0,6,36,Anfang - Mitte Dezennium,207C2
2,0,RM,0,400,0,0,2,1,3.0,5,23,Mitte - Ende Dezennium,207D1
3,0,DF,0,0,80,0,1,1,3.0,6,36,Anfang - Mitte Dezennium,207D2
4,0,DF,0,0,70,0,1,1,3.0,4,35,Anfang - Mitte Dezennium,207D3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
219,0,DF,0,90,0,0,1,1,3.0,1,26,Anfang - Mitte Dezennium,306P0
220,0,DF,0,40,50,0,1,1,3.0,1,26,"Anfang - Mitte Dezennium, schwierige Nutzung d...",307F0
221,0,DF,0,90,0,0,2,1,3.0,1,26,"Mitte Dezennium, im Westen, schwierige Nutzung",307G0
222,0,DF,0,70,0,0,2,1,3.0,1,30,"Mitte - Ende Dezennium, vorsichtig da Windanfä...",307H0
223,0,DE,0,70,0,0,2,1,3.0,1,26,Mitte Dezennium,307M2

In [44]:
merge_data = pd.merge(sap_data, ma_data, how='left', on='Waldort')

In [45]:
merge_data

,Waldort,WE-Typ,Umtriebszeit,Ertragssituation,Bewirtschaftungsform,Schutzwaldkategorie,Fläche in HA,Seehöhe,Exposition,Neigung,...,FL,LH,NH,SUM,DR,BH,ZP,SG,RU,Text
0,001A1,WO,140,A,W,NaN,2.53,500,NW,47,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,001A2,WO,120,I,W,NaN,1.93,600,N,36,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,001A3,WO,120,I,W,NaN,0.84,500,N,58,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,001A4,WO,120,I,W,NaN,0.46,600,N,27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,001A5,WO,120,I,W,NaN,0.88,500,N,47,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2064,307O4,WO,160,I,S,S,0.31,600,SO,70,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2065,307P1,WO,140,I,W,NaN,3.85,700,SO,58,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2066,307P2,WO,140,I,W,NaN,1.24,700,S,47,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2067,30741,NG,0,NaN,NaN,NaN,0.26,0,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2068,30751,NG,0,NaN,NaN,NaN,0.17,0,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
data_path = os.path.join(home_path, 'Data', 'obf')
merge_data.to_csv(data_path + "/nutz_171_12.csv", index=False)