In [1]:
import os
import numpy as np
import pandas as pd
import re

In [2]:
# set home directory
home_path = os.getcwd()[:os.getcwd().find('Code/python/obf_autax/bz')-1]
# set bz_path
bz_path = os.path.join(home_path, 'Data', 'obf_autman', 'sources', 'bz_178_02.xlsx')

print(home_path)
print(bz_path)

/home/philipp
/home/philipp/Data/obf_autman/sources/bz_178_02.xlsx

In [3]:
bz_data = pd.read_excel(bz_path)

In [4]:
bz_data.head()

  WaIdort WE-Typ   BZ1   BZ2   BZ3   BZ4  BZ5
0   094B1     WO  5 FI  1 LA  3 BU  1 TA  NaN
1   094D1     WO  6 FI  3 TA  1 BU   NaN  NaN
2   094D2     WO  5 FI  2 BU  2 TA  1 AH  NaN
3   094D3     WO  6 FI  2 TA  2 BU   NaN  NaN
4   094D4     WO  6 FI  2 BU  1 TA  1 LA  NaN

In [5]:
bz_data.columns = ['WO','WE-Typ','BZ1','BZ2','BZ3','BZ4','BZ5']

In [6]:
# filter just WO
bz_data = bz_data.loc[bz_data['WE-Typ']=='WO', :]

In [7]:
bz_data = bz_data[['WO', 'BZ1', 'BZ2', 'BZ3', 'BZ4', 'BZ5']]

In [8]:
bz_data.iloc[0,:]

WO     094B1
BZ1     5 FI
BZ2     1 LA
BZ3     3 BU
BZ4     1 TA
BZ5      NaN
Name: 0, dtype: object

In [9]:
bz = bz_data.copy()

In [10]:
bz = bz.fillna(0)

### create empty dataframe

In [11]:
index = bz['WO'].unique()

In [12]:
#columns = ['FI', 'TA', 'LA', 'KI', 'SK', 'DG', 'TH', 'BU', 'EI', 'HB', 'AH', 'ES', 'ER', 'RE', 'LI', 'SP', 'EL', 'KB', 'RE', 'SN', 'SL']

In [13]:
# define columns of all possible tree species (BA)
columns = ["FI", "TA", "LA", "KI", "SK", "ZI", "PM", "DG", "KW", "SF", "FO", "TH", "FB", "AC", "AG", "AZ", "EB", "FZ", "GK", "HT", "JL", "CJ", "KK", "KO", "AN", "AB", "CH", "PU", "SN", "BU", "EI", "HB", "AH", "SA", "FA", "EA", "ES", "UL", "QP", "QR", "EZ", "RE", "FE", "ER", "GE", "AV", "KB", "TK", "WO", "SG", "NU", "JN", "LI", "LS", "LW", "BI", "PO", "AS", "WP", "SP", "HP", "WD", "SW", "EK", "RK", "EE", "EL", "ME", "RO", "TB", "GB", "ST", "SL", "BL"]

In [14]:
df = pd.DataFrame(index=index, columns=columns)
df = df.fillna(0) # with 0s rather than NaNs

In [15]:
df

,FI,TA,LA,KI,SK,ZI,PM,DG,KW,SF,...,RK,EE,EL,ME,RO,TB,GB,ST,SL,BL
094B1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
094D1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
094D2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
094D3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
094D4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426L1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
426L2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
426L3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
426L4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
426M0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### change structure

In [16]:
for i in range(bz.shape[0]):
    row = bz.iloc[i,:]
    wo = row['WO']
    for j in range(1, bz.shape[1]):
        if row.iloc[j] != 0:
            bz_x = re.findall(r"[\w']+", row.iloc[j])
            df.loc[wo,bz_x[1]] = bz_x[0]

In [17]:
df['Waldort'] = df.index

In [18]:
df

,FI,TA,LA,KI,SK,ZI,PM,DG,KW,SF,...,EE,EL,ME,RO,TB,GB,ST,SL,BL,Waldort
094B1,5,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,094B1
094D1,6,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,094D1
094D2,5,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,094D2
094D3,6,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,094D3
094D4,6,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,094D4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426L1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,426L1
426L2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,426L2
426L3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,426L3
426L4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,426L4
426M0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,426M0

In [19]:
#data_path = os.path.join(home_path, 'data', 'obf', 'csv', 'bz')
#df.to_csv(data_path + "/bz_171_01.csv", index=False)

In [20]:
# set raw_path
#raw_path = os.path.join(home_path, 'Data', 'obf_autman', 'sources', 'TO_1310_11_roh.XLS')
# set raw_path
raw_path = os.path.join(home_path, 'Data', 'obf_autman', 'raw_data', 'TO_1364_178_02_20201111.XLS')
# read tsv
wo_data = pd.read_csv(raw_path, sep='\t', encoding = "ISO-8859-1", decimal=',', error_bad_lines=False)
# filter relevant data
wo_data = wo_data[wo_data['Best.-Schicht'] == 0]

### pernitz
#wo_data = wo_data[wo_data['Abteilung'] > 200]

/home/philipp/miniconda3/envs/autax_rec/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (36,102,103,108,112,113,114,124,126,147) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [21]:
# merge

# sort data
wo_data.sort_values(by=['Abteilung', 'WE-Typ', 'Unterabteil.', 'Teilfl.'], ascending=[True,False,True,True], inplace=True)
wo_data = wo_data[['Waldort', 'WE-Typ']]

merge_data = pd.merge(wo_data, df, how='left', on='Waldort')

In [22]:
merge_data

,Waldort,WE-Typ,FI,TA,LA,KI,SK,ZI,PM,DG,...,RK,EE,EL,ME,RO,TB,GB,ST,SL,BL
0,019A0,WO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,019B0,WO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,019C1,WO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,019C2,WO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,019C3,WO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1832,426L4,WO,0,0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0
1833,426M0,WO,0,0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0
1834,42631,NG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1835,42632,NG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1836,42641,NG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
#merge_data.iloc[:,2:].astype(int)

In [24]:
merge_data.fillna(0, inplace = True)
merge_data.iloc[:,2:] = merge_data.iloc[:,2:].astype(int)

In [25]:
# set bz_path
save_path = os.path.join(home_path, 'Data', 'obf_autman', 'csv', 'johannklause', 'bz_autax_1364_178_02_20201111.csv')
merge_data.to_csv(save_path, index=False)