In [1]:
import os
import numpy as np
import pandas as pd
import re

In [2]:
# set home directory
home_path = os.getcwd()[:os.getcwd().find('Code/python/obf_autax/bz')-1]
# set bz_path
bz_path = os.path.join(home_path, 'Data', 'obf_autax', 'nutz', 'nutz_171_12_ps.xlsx')

print(home_path)
print(bz_path)

/home/philipp
/home/philipp/Data/obf_autax/nutz/nutz_171_12_ps.xlsx

In [3]:
bz_data = pd.read_excel(bz_path)

In [4]:
bz_data.head()

,Waldort,WE-Typ,age,area,MA,FL,LH_ha,NH_ha,sum_ha,LH,NH,sum,DR,BH,ZP,SG,RU,Text
0,201A0,WO,141,2.794631,DF,2.5,13.837216,63.036207,76.873423,30,160,190,2.0,1.0,3.0,4.0,35.0,"Mitte Dezennium, bei Bundesstraße"
1,201B1,WO,216,2.707117,NaN,2.4,0.000000,0.000000,0.000000,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,201B2,WO,96,0.735919,DF,0.7,15.670690,62.682758,78.353448,10,40,50,2.0,1.0,3.0,4.0,35.0,"Mitte Dezennium, bei Bundesstraße"
3,201B3,WO,76,1.945348,DF,1.8,7.013899,63.125088,70.138987,10,110,120,2.0,1.0,3.0,4.0,35.0,"Mitte Dezennium, bei Bundesstraße"
4,201B4,WO,36,0.586157,DE,0.5,0.000000,45.994767,45.994767,0,20,20,2.0,1.0,3.0,4.0,35.0,"Mitte Dezennium, bei Bundesstraße"

In [5]:
# filter just WO
bz_data = bz_data.loc[bz_data['WE-Typ']=='WO', :]

In [6]:
bz_data.columns

Index(['Waldort', 'WE-Typ', 'age', 'area', 'MA', 'FL', 'LH_ha', 'NH_ha',
       'sum_ha', 'LH', 'NH', 'sum', 'DR', 'BH', 'ZP', 'SG', 'RU', 'Text'],
      dtype='object')

In [8]:
bz_data = bz_data[['Waldort', 'MA', 'FL', 'LH', 'NH', 'DR', 'BH', 'ZP', 'SG', 'RU', 'Text']]

In [9]:
bz_data.iloc[3,:]

Waldort                                201B3
MA                                        DF
FL                                       1.8
LH                                        10
NH                                       110
DR                                         2
BH                                         1
ZP                                         3
SG                                         4
RU                                        35
Text       Mitte Dezennium, bei Bundesstraße
Name: 3, dtype: object

In [10]:
df = bz_data.copy()

In [11]:
# set raw_path
raw_path = os.path.join(home_path, 'Data', 'obf_autax', 'nutz', '1310_171_12_200905_all.XLS')
# read tsv
wo_data = pd.read_csv(raw_path, sep='\t', encoding = "ISO-8859-1", decimal=',', error_bad_lines=False)

df.set_index(['Waldort'], drop=False, inplace=True)
wos = wo_data['Waldort'].unique()

# add number of rows
for wo in wos:
    df.loc[wo, 'nr_rows'] = len(wo_data[(wo_data['Waldort'] == wo) & (wo_data['Best.-Schicht.1'] != 0)])
    
# filter relevant data
wo_data = wo_data[wo_data['Best.-Schicht'] == 0]

### pernitz
wo_data = wo_data[wo_data['Abteilung'] > 200]

df.reset_index(drop=True, inplace=True)
df = df[['Waldort', 'nr_rows', 'MA', 'FL', 'LH', 'NH', 'DR', 'BH', 'ZP', 'SG', 'RU', 'Text']]

KeyError: "None of ['Waldort'] are in the columns"

In [12]:
# set raw_path
raw_path = os.path.join(home_path, 'Data', 'obf_autax', 'wtyp', 'test171_12_v6.csv')
wo_data = pd.read_csv(raw_path)

In [13]:
wo_data

     Waldort WE-Typ     uz wtyp  nr_rows
0      201A0     WO  140.0  LNF     10.0
1      201B1     WO  140.0  LNF      7.0
2      201B2     WO  140.0  LNF      3.0
3      201B3     WO  140.0  LNF      5.0
4      201B4     WO  140.0  LNF      2.0
...      ...    ...    ...  ...      ...
1019   307O3     WO  140.0   WK      3.0
1020   307O4     WO  140.0   SK      2.0
1021   307P1     WO  140.0  LNF      4.0
1022   307P2     WO  140.0  LNF      7.0
1023   30751     NG    NaN  NaN      NaN

[1024 rows x 5 columns]

In [11]:
df

,Waldort,MA,FL,LH,NH,DR,BH,ZP,SG,RU,Text
0,201A0,DF,2.5,30,160,2.0,1.0,3.0,4.0,35.0,"Mitte Dezennium, bei Bundesstraße"
1,201B1,NaN,2.4,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,201B2,DF,0.7,10,40,2.0,1.0,3.0,4.0,35.0,"Mitte Dezennium, bei Bundesstraße"
3,201B3,DF,1.8,10,110,2.0,1.0,3.0,4.0,35.0,"Mitte Dezennium, bei Bundesstraße"
4,201B4,DE,0.5,0,20,2.0,1.0,3.0,4.0,35.0,"Mitte Dezennium, bei Bundesstraße"
...,...,...,...,...,...,...,...,...,...,...,...
825,307O2,NaN,1.1,50,190,NaN,NaN,NaN,NaN,NaN,NaN
826,307O3,DE,0.7,10,70,2.0,1.0,3.0,6.0,36.0,"Mitte Dezennium, LA fördern, zusammen mit O3"
827,307O4,NaN,0.5,0,20,NaN,NaN,NaN,NaN,NaN,NaN
828,307P1,NaN,3.2,2060,840,NaN,NaN,NaN,NaN,NaN,NaN
829,307P2,NaN,1.5,90,340,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# set raw_path
raw_path = os.path.join(home_path, 'Data', 'obf_autman', 'sources', 'bz_171_12_ps_extra.xlsx')
# read tsv
bz_data = pd.read_excel(raw_path)

bz_data['Waldort'] = bz_data['WO']

bz_data = bz_data[['Waldort', 'bz_row']]

In [15]:
# merge

#wo_data.sort_values(by=['Abteilung', 'WE-Typ', 'Unterabteil.', 'Teilfl.'], ascending=[True,False,True,True], inplace=True)
#wo_data = wo_data[['Waldort', 'WE-Typ']]


merge_data = pd.merge(wo_data, bz_data, how='left', on='Waldort')
merge_data = pd.merge(merge_data, df, how='left', on='Waldort')

In [16]:
merge_data

,Waldort,WE-Typ,uz,wtyp,nr_rows,MA_x,FL_x,LH_x,NH_x,DR_x,...,MA_y,FL_y,LH_y,NH_y,DR_y,BH_y,ZP_y,SG_y,RU_y,Text_y
0,201A0,WO,140.0,LNF,10.0,DF,2.5,30.0,160.0,2.0,...,DF,2.5,30.0,160.0,2.0,1.0,3.0,4.0,35.0,"Mitte Dezennium, bei Bundesstraße"
1,201B1,WO,140.0,LNF,7.0,NaN,2.4,0.0,0.0,NaN,...,NaN,2.4,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,201B2,WO,140.0,LNF,3.0,DF,0.7,10.0,40.0,2.0,...,DF,0.7,10.0,40.0,2.0,1.0,3.0,4.0,35.0,"Mitte Dezennium, bei Bundesstraße"
3,201B3,WO,140.0,LNF,5.0,DF,1.8,10.0,110.0,2.0,...,DF,1.8,10.0,110.0,2.0,1.0,3.0,4.0,35.0,"Mitte Dezennium, bei Bundesstraße"
4,201B4,WO,140.0,LNF,2.0,DE,0.5,0.0,20.0,2.0,...,DE,0.5,0.0,20.0,2.0,1.0,3.0,4.0,35.0,"Mitte Dezennium, bei Bundesstraße"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1031,307O3,WO,140.0,WK,3.0,DE,0.7,10.0,70.0,2.0,...,DE,0.7,10.0,70.0,2.0,1.0,3.0,6.0,36.0,"Mitte Dezennium, LA fördern, zusammen mit O3"
1032,307O4,WO,140.0,SK,2.0,NaN,0.5,0.0,20.0,NaN,...,NaN,0.5,0.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN
1033,307P1,WO,140.0,LNF,4.0,NaN,3.2,2060.0,840.0,NaN,...,NaN,3.2,2060.0,840.0,NaN,NaN,NaN,NaN,NaN,NaN
1034,307P2,WO,140.0,LNF,7.0,NaN,1.5,90.0,340.0,NaN,...,NaN,1.5,90.0,340.0,NaN,NaN,NaN,NaN,NaN,NaN
1035,30751,NG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
copy = merge_data.copy()

In [21]:
merge_data[['Waldort', 'WE-Typ', 'nr_rows', 'MA', 'FL', 'LH','NH','DR','BH','ZP','SG','RU','Text']]

KeyError: "['RU', 'LH', 'ZP', 'FL', 'DR', 'Text', 'BH', 'MA', 'NH', 'SG'] not in index"

In [18]:
merge_data.fillna(0, inplace = True)
merge_data.iloc[:,2:4] = merge_data.iloc[:,2:4].astype(int)
merge_data.iloc[:,6:13] = merge_data.iloc[:,6:13].astype(int)

ValueError: invalid literal for int() with base 10: 'LNF'

In [15]:
merge_data

,Waldort,WE-Typ,bz_row,nr_rows,MA,FL,LH,NH,DR,BH,ZP,SG,RU,Text
0,201A0,WO,3,10,0,2.7,0,0,0,0,0,0,0,0
1,201B1,WO,2,7,0,2.5,0,0,0,0,0,0,0,0
2,201B2,WO,2,3,DF,0.5,10,70,2,1,3,6,36,"Mitte Dezennium, bei Bundesstraße"
3,201B3,WO,4,5,DF,1.8,10,70,2,1,3,6,36,"Mitte Dezennium, bei Bundesstraße"
4,201B4,WO,2,2,0,0.4,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1012,307O4,WO,3,2,0,0.3,0,0,0,0,0,0,0,0
1013,307P1,WO,3,4,0,3.5,0,0,0,0,0,0,0,0
1014,307P2,WO,4,7,0,1.1,0,0,0,0,0,0,0,0
1015,30741,NG,0,0,0,0.0,0,0,0,0,0,0,0,0
1016,30751,NG,0,0,0,0.0,0,0,0,0,0,0,0,0

In [16]:
# set bz_path
save_path = os.path.join(home_path, 'Data', 'obf_autman', 'csv', 'nutz_autax_1310_171_12_20200822.XLS')
merge_data.to_csv(save_path, index=False)