In [1]:
#
# Forsteinrichtung
#
# change text: upper lower case, abbreviations, structure
#

In [2]:
import os
import numpy as np
import pandas as pd
import math
import re

In [3]:
# set home directory
home_path = os.getcwd()[:os.getcwd().find('Code/python/obf_autax/text')-1]
# set bz_path
text_path = os.path.join(home_path, 'data', 'obf', 'merge', 'raw', 'TO_1356_01_20200121.XLS')

print(home_path)
print(text_path)

/home/philipp
/home/philipp/data/obf/merge/raw/TO_1356_01_20200121.XLS

In [4]:
# roh data
data = pd.read_csv(text_path, sep='\t', encoding = "ISO-8859-1", decimal=',', error_bad_lines=False)

/home/philipp/conda/envs/ml/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (147) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
# dict Baumarten
dic_ba_lh_nh = {"AS":"LH", "AZ":"NH", "AH":"LH", "PM":"NH", "BI":"LH", "FB":"NH", "BL":"BL", "AC":"NH", "DG":"NH", 
                "EE":"LH", "EK":"LH", "EB":"NH", "EI":"LH", "EL":"LH", "ES":"LH", "EA":"LH", "FA":"LH", "FI":"NH", 
                "FE":"LH", "FZ":"NH", "GK":"NH", "GB":"LH", "WP":"LH", "GE":"LH", "AG":"NH", "AV":"LH", "HB":"LH", 
                "HT":"NH", "HP":"LH", "JL":"NH", "CJ":"NH", "KK":"NH", "KB":"LH", "KO":"NH", "LA":"NH", "LI":"LH", 
                "ME":"LH", "FO":"NH", "PO":"LH", "AB":"NH", "RO":"LH", "RK":"LH", "BU":"LH", "RE":"LH", 
                "CH":"NH", "ER":"LH", "SK":"NH", "JN":"LH", "SP":"LH", "SF":"NH", "LS":"LH", "SL":"LH", 
                "SN":"NH", "SG":"LH", "PU":"NH", "SA":"LH", "QR":"LH", "KW":"NH", "TH":"NH", "QP":"LH",
                "TK":"LH", "TB":"LH", "UL":"LH", "NU":"LH", "WD":"LH", "KI":"NH", "TA":"NH", "WO":"LH", "LW":"LH", 
                "EZ":"LH", "ZI":"NH"}

In [6]:
# dict Baumarten
dic_ba_small = {"As":"AS", "Az":"AZ", "Ah":"AH", "Pm":"PM", "Bi":"BI", "Fb":"FB", "Bl":"BL", "Ac":"AC", "Dg":"DG", 
                "Ee":"EE", "Ek":"EK", "Eb":"EB", "Ei":"EI", "El":"EL", "Es":"ES", "Ea":"EA", "Fa":"FA", "Fi":"FI", 
                "Fe":"FE", "Fz":"FZ", "Gk":"GK", "Gb":"GB", "Wp":"WP", "Ge":"GE", "Ag":"AG", "Av":"AV", "Hb":"HB", 
                "Ht":"HT", "Hp":"HP", "Jl":"JL", "Cj":"CJ", "Kk":"KK", "Kb":"KB", "Ko":"KO", "La":"LA", "Li":"LI", 
                "Me":"ME", "Fo":"FO", "Po":"PO", "Ab":"AB", "Ro":"RO", "Rk":"RK", "Bu":"BU", "Re":"RE", 
                "Ch":"CH", "Er":"ER", "Sk":"SK", "Jn":"JN", "Sp":"SP", "Sf":"SF", "Ls":"LS", "Sl":"SL", 
                "Sn":"SN", "Sg":"SG", "Pu":"PU", "Sa":"SA", "Qr":"QR", "Kw":"KW", "Th":"TH", "Qp":"QP", "Ez":"EZ",
                "Tk":"TK", "Tb":"TB", "Ul":"UL", "Nu":"NU", "Wd":"WD", "Ki":"KI", "Ta":"TA", "Lw":"LW", "Zi":"ZI"}

In [7]:
# dict Teile
dic_teile = {'Norden Teil':'Nord-Teil', 'Nordosten Teil':'Nordost-Teil', 'Osten Teil':'Ost-Teil', 
             'Südosten Teil':'Südost-Teil', 'Süden Teil':'Süd-Teil', 'Südwesten Teil':'Südwest-Teil', 
             'Westen Teil':'West-Teil', 'Nordwesten Teil':'Nordwest-Teil'}

In [8]:
# dict Abkürzungen
path_data = os.path.join(os.getcwd(),'data', 'Textkuerzel_Manuale_small.xls')
data_dic = pd.read_excel(path_data, index_col='kurz', error_bad_lines=False)

dic_abk = data_dic.to_dict()
dic_abk = dic_abk['lang']

In [9]:
data.drop(data[data['Debitor']!=220442].index, axis=0, inplace=True)
data.drop(data[data['WE-Typ']=='NG'].index, axis=0, inplace=True)

In [10]:
data = data[data['Best.-Schicht']==0]

In [11]:
data_text = data[['Waldort', 'Zeile1', 'Zeile2', 'Zeile3', 'Zeile4', 'Zeile5', 'Zeile6']]

In [12]:
data_text

,Waldort,Zeile1,Zeile2,Zeile3,Zeile4,Zeile5,Zeile6
0,520G0,"BE Örtl lückig; ein HB, AH; BU oft protzig; u...",rast und leicht verkrautet,MA BZ: 6LA 4BU,NaN,NaN,NaN
4,715G1,ST Im N flacher,"BE Einz KB, KI, FI, LA; schlechte Stammformen...",MA BZ: 5BU 3ER 2ES,NaN,NaN,NaN
10,599C0,BE Zaunfläche; unglalt (-5 J); vl Brombeere; ...,t und leicht verkrautet,MA BZ: 7EI 2AH 1HB,NaN,NaN,NaN
16,718D2,ST Verhagert; evtl zukünftige Naturwaldzelle,BE Ein EZ; BU hpts im N; örtl BU-EI-Vjg; schw...,Qualität; leicht vergrast,MA BZ: 7EI 3BU; evtl zukünftige Naturwaldzelle,NaN,NaN
23,718D1,ST Im NO Rücken; verhagert; grobsteinig; evtl...,"BE Ein EZ, SK; schwache Dimensionen; schlecht...",Zwischenbestand,MA BZ: 6EI 4BU; evtl zukünftige Naturwaldzelle,NaN,NaN
...,...,...,...,...,...,...,...
4866,727A1,ST Grabeneinhang,"BE Ein ER am Graben; ein EI, HB; einz LA, KB;...",Stammformen; dfstet; mäßig vergrast und leich...,MA BZ: 10BU,NaN,NaN
4869,740A4,ST Am Rücken Übergänge zu STOE 76 und HD-Typ,"BE Ein FI, KI; LA im W; hier jger (-5 J); im ...",protzig; im O geschlossen; stk vergrast und l...,MA O belassen (zukünftige Umwandlungsfläche);...,NaN,NaN
4884,650C0,ST Biosphärenpark Kernzone,"BE Tlw schlechte Stammformen; ein RO, HB; EI ...",tlw schlechte Stammformen; mäßig vergrast und...,MA Biosphärenpark Kernzone,NaN,NaN
4999,740B2,BE Einz KI; vl BI; BU am Rand im O; BU älter ...,und mäßig verkrautet,MA BZ: 8LA 2BU,NaN,NaN,NaN
5010,740B1,BE Einz LA; FI im W an H0; unglalt (-5 J); vl...,MA BZ: 9BU 1FI,NaN,NaN,NaN,NaN

In [13]:
def text_merge(row_text):
    
    # merge into whole txt
    whole_text = ''
    for i in np.arange(0,5):
        if isinstance(row_text.iloc[i], str):
            #print(row_text.iloc[i])
            whole_text = whole_text + row_text.iloc[i]
            
    return(whole_text)

In [14]:
def text_indx(whole_text):
    
    # find indexes for splitting
    indx = []
    for i in ['ST ', 'BE ', 'MA ']:
        # find index
        idx = whole_text.find(i)
        # filter not found
        if idx > -1:
            # add index 
            indx.append(whole_text.find(i))
    # add index 
    indx.append(10000)
    indx = np.sort(indx)
    
    return(indx)

In [15]:
def text_cut(whole_text, indx):
    # cut string into peaces
    cut = []
    for i in range(1,len(indx)):
        if whole_text[indx[i-1]:indx[i-1]+2] != 'MA':
            cut.append(whole_text[indx[i-1]:indx[i]])
            
    return(cut)

In [16]:
def text_cutter(data_txt):
    whole_text = text_merge(data_txt)
    indx = text_indx(whole_text)
    cutted_text = text_cut(whole_text, indx)
    return(cutted_text)

In [17]:
def text_splitter(text):
    # delete spaces at the end
    text.rstrip()
    # replace , with ;
    text = text.replace(',', ';')
    text = text.replace('BE ', 'BE; ')
    text = text.replace('ST ', 'ST; ')
    text = text.replace('MA ', 'MA; ')
    
    # split text on ;
    splits = text.split(';')
    
    text_neu = ''
    # manipulate splits
    for split in splits:
        words = re.findall(r"[\w']+", split)
        
        split_neu = ''
        # manipulate words
        for word in words:
            # if Baumart all upper case -> don't change characters
            if word in dic_ba_lh_nh:
                split_neu = split_neu + word + ' '
            # if Baumart upper and lower case -> change to upper case
            elif word in dic_ba_small:
                split_neu = split_neu + dic_ba_small[word] + ' '
            # else change word to lower case
            else:
                word = word.lower()
                # if word in dictionary than replace
                if word in dic_abk:
                    split_neu = split_neu + dic_abk[word] + ' '
                # if word with ung -> first letter upper case
                elif word[-3:] == 'ung':
                    word = word.replace(word[0], word[0].upper(), 1)
                    split_neu = split_neu + word + ' '
                # else add lower case word
                else:
                    split_neu = split_neu + word + ' '
        # delete spaces at the end
        split_neu = split_neu.rstrip()
        # merge splits
        text_neu = text_neu + split_neu + ', '
        
    if text_neu[:4] == 'be, ':
        text_neu = text_neu.replace('be, ', 'BE   ', 1)
    elif text_neu[:4] == 'st, ':
        text_neu = text_neu.replace('st, ', 'ST   ', 1)
    text_neu = text_neu.rstrip()
    # # delete spaces at the end
    if text_neu[-2:] == ' ,':
        text_neu = text_neu[:-2]
    # replace all patterns from dic_teile(x:y)-x with dic_teile-y
    text_neu = multipleReplace(text_neu, dic_teile)
    #pattern = re.compile(r'\b(' + '|'.join(dic_teile.keys()) + r')\b')
    #text_neu = pattern.sub(lambda x: dic_teile[x.group()], test_neu)
    
    return(text_neu)

In [18]:
def multipleReplace(text, wordDict):
    for key in wordDict:
        text = text.replace(key, wordDict[key])
    return text

In [19]:
n = 34
print(data_text.iloc[n, 0])
print(data_text.iloc[n, 1])
print(data_text.iloc[n, 2])

508D3
BE  Unglalt (+/-5 J); im W jger; im O älter; LA im O
MA  BZ: 6BU 4LA

In [20]:
test = data_text.iloc[40, 0]
print(test)
test_neu = text_splitter(test)
print(test_neu)

506G1
506g1,

In [21]:
###############
### working ###
###############

temp = text_cutter(data_text.iloc[46])
for i in temp:
    test_neu = text_splitter(i)
    print(test_neu)

BE   einige SP, WD, viel BI, einzelne KI, mit LA ergänzt, im Süden älter 5 j, hiergeschlossen und reine BU, stark vergrast und leicht verkrautet,

In [22]:
temp

['BE  Ein SP, WD; vl BI; einz KI; mit LA ergänzt; im S älter (+5 J); hiergeschlossen und reine BU; stk vergrast und leicht verkrautet']

In [23]:
# make dataframe and write file to disk

In [24]:
index = np.sort(data['Waldort'].unique())

In [25]:
columns = ['text_1', 'text_2', 'text_3', 'text_4']

In [26]:
df = pd.DataFrame(index=index, columns=columns)
df = df.fillna('0') # with 0s rather than NaNs

In [27]:
df

      text_1 text_2 text_3 text_4
506A0      0      0      0      0
506B1      0      0      0      0
506B2      0      0      0      0
506C1      0      0      0      0
506C2      0      0      0      0
...      ...    ...    ...    ...
740D3      0      0      0      0
740E0      0      0      0      0
740F0      0      0      0      0
740G0      0      0      0      0
740H0      0      0      0      0

[901 rows x 4 columns]

In [28]:
data_text1 = data_text.set_index('Waldort')

In [29]:
for wo in index:
    wof = data_text1.loc[wo]
    temp = text_cutter(data_text1.loc[wo])

    for i, txt in enumerate(temp):
        #test_neu = text_splitter(i)
        df.loc[wo, 'text_'+str(i+1)] = text_splitter(txt)

In [30]:
df.iloc[:10]

,text_1,text_2,text_3,text_4
506A0,0,0,0,0
506B1,"BE Laubholz schlecht geformt, geringe vitali...",0,0,0
506B2,"ST Grabeneinhang, 15 20 grad geneigt,","BE sehr ungleichaltrig, im Norden unterhalb ...",0,0
506C1,"ST örtlich vernässt, im Südosten steiler,","BE im Norden älter, im Südwesten jünger, am ...",0,0
506C2,"BE LA stark bedrängt, im Westen jünger 10 j,...",0,0,0
506D1,"BE einige KB, ES, WD, ungleichaltrig 5 j,",0,0,0
506D2,"ST Grabeneinhang,","BE ungleichaltrig 5 j, im Norden älter, im S...",0,0
506D3,"ST Grabeneinhang, im Osten Exposition Nordwe...","BE im Nordwesten lückig, einige ES, WD, BU i...",0,0
506D4,"BE geschlägert früher d1,",0,0,0
506E1,ST unterhalb Straße im Westen Standortseinhe...,"BE BU besonders im Südwesten an Straße, dort...",0,0

In [32]:
df['Waldort'] = df.index

In [33]:
data_path = os.path.join(home_path, 'data', 'obf', 'merge', 'text')
df.to_csv(data_path + "/text_171_01.csv", index=False)