## Oberhöhen
input: shape - polygons with the Waldorte-Code (WO)<br>
input: tif - hight of the trees<br>
output: csv - three heigths (oh) per WO<br>

In [2]:
import os
from GISOh import GISOh
from SAPAge import SAPAge
from OBFEkl import OBFEkl

In [2]:
# set home directory
home_path = os.getcwd()[:os.getcwd().find('Code/python/obf_autax/ekl')-1]
# set shape_path
shape_path = os.path.join(home_path, 'Data', 'obf_autax', 'ekl', 'wo', '171_12_wo_pj.shp')
# set tiff_path
tiff_path = os.path.join(home_path, 'Data', 'obf_autax', 'ekl', 'tiff', 'FB171_ndsm.tif')
# set output_path
output_path = os.path.join(home_path, 'Data', 'obf_autax', 'ekl', 'output', 'oh_TO1310_12.csv')

print(home_path)
print(shape_path)
print(tiff_path)
print(output_path)

/home/philipp
/home/philipp/Data/obf_autax/ekl/wo/171_12_wo_pj.shp
/home/philipp/Data/obf_autax/ekl/tiff/FB171_ndsm.tif
/home/philipp/Data/obf_autax/ekl/output/oh_TO1310_12.csv

In [4]:
geo = GISOh(shape_path)

In [4]:
df_oh = geo.main('oh', tiff_path)

In [5]:
df_oh.to_csv(output_path, index=False)

In [6]:
df_oh

              wo         oh          area
0     202v_3/001   0.635400  17116.236829
1          202G0  18.895410  15984.320097
2          202F2  15.806030  15185.077900
3          202G0  21.734009  11830.447295
4          202E3  17.640601   7121.355644
...          ...        ...           ...
1361       201B5  13.602832   7319.921619
1362       201B4  13.871228   3449.397989
1363       201B3  22.258398   7156.780974
1364       205C2  22.944031  12898.234117
1365       306A1  26.776636  18895.299374

[1366 rows x 3 columns]

In [7]:
# set tiff_path
tiff_path = os.path.join(home_path, 'Data', 'obf_autax', 'ekl', 'tiff', 'FB171_vor.tif')
# set output_path
output_path = os.path.join(home_path, 'Data', 'obf_autax', 'ekl', 'output', 'v_TO1310_12.csv')

df_v = geo.main('v', tiff_path, output_path)

In [8]:
df_v

              wo           v          area
0     202v_3/001   13.582274  17116.236829
1          202G0  311.708069  15984.320097
2          202F2  309.026337  15185.077900
3          202G0  378.455231  11830.447295
4          202E3  263.417175   7121.355644
...          ...         ...           ...
1361       201B5  134.391586   7319.921619
1362       201B4  204.976486   3449.397989
1363       201B3  341.227631   7156.780974
1364       205C2  303.077576  12898.234117
1365       306A1  333.862610  18895.299374

[1366 rows x 3 columns]

In [9]:
## Age

In [10]:
# set input_path
input_path = os.path.join(home_path, 'Data', 'obf_autax', 'ekl', 'TO_1310_12_roh_20200828.XLS')
# set output_path
output_path = os.path.join(home_path, 'Data', 'obf_autax', 'ekl', 'output', 'age_TO1310_12.csv')

print(home_path)
print(input_path)
print(output_path)

/home/philipp
/home/philipp/Data/obf_autax/ekl/TO_1310_12_roh_20200828.XLS
/home/philipp/Data/obf_autax/ekl/output/age_TO1310_12.csv

In [11]:
age = SAPAge(input_path)

In [12]:
df_age = age.main()

/home/philipp/miniconda3/envs/gis/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3263: DtypeWarning: Columns (40,149) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [13]:
# filter Abt higher than 200
df_age = df_age[df_age['Abteilung'] > 200]

df_age.to_csv(output_path, index=False)

In [14]:
## ekl

In [1]:
import os
from GISOh import GISOh
from SAPAge import SAPAge
from OBFEkl import OBFEkl

import numpy as np

In [2]:
# set home directory
home_path = os.getcwd()[:os.getcwd().find('Code/python/obf_autax/ekl')-1]
# set et_path
et_path = os.path.join(home_path, 'Data', 'obf_autax', 'ekl', 'ertragstafeln.csv')
# set height_path
height_path = os.path.join(home_path, 'Data', 'obf_autax', 'ekl', 'output', 'oh_TO1310_12.csv')
# set mass_path
mass_path = os.path.join(home_path, 'Data', 'obf_autax', 'ekl', 'output', 'v_TO1310_12.csv')
# set age_path
age_path = os.path.join(home_path, 'Data', 'obf_autax', 'ekl', 'output', 'age_TO1310_12.csv')
# set output_path
output_path = os.path.join(home_path, 'Data', 'obf_autax', 'ekl', 'output', 'ekl_TO1310_12.csv')

print(et_path)
print(height_path)
print(age_path)
print(output_path)

/home/philipp/Data/obf_autax/ekl/ertragstafeln.csv
/home/philipp/Data/obf_autax/ekl/output/oh_TO1310_12.csv
/home/philipp/Data/obf_autax/ekl/output/age_TO1310_12.csv
/home/philipp/Data/obf_autax/ekl/output/ekl_TO1310_12.csv

In [3]:
ekl = OBFEkl(height_path, age_path, et_path)

In [4]:
ekl.print_et()

[['FI_hoch', 1], ['FI_bayer', 2], ['FI_bruck', 3], ['FI_weit', 4], ['TA_wuet', 5], ['TA_nwd', 6], ['LA', 7], ['KI', 8], ['BU', 9], ['DG', 10], ['EI', 11], ['SK', 14], ['KW', 15], ['HB', 16], ['ER', 17], ['BI', 18], ['SP', 19], ['RO', 20], ['HP', 21], ['ES', 22], ['LA_sTirol', 29], ['KI_sTirol', 30]]

In [5]:
ekl.get_ba()

[[1, 'fi'], [6, 'ta'], [7, 'la'], [9, 'bu']]

In [6]:
ekl.set_ba([[3, 'FI'], [9, 'BU'], [6, 'TA'], [7, 'LA'], [8, 'KI'], [14, 'SK']])

In [7]:
#ekl.set_ba([[3, 'FI']])

In [8]:
ekl.set_im_vor(mass_path)

In [9]:
df_ekl = ekl.main(output_path)

[3, 'FI']
[9, 'BU']
[6, 'TA']
[7, 'LA']
[8, 'KI']
[14, 'SK']

In [10]:
df_ekl.columns

Index(['Forstbetrieb.1', 'Teiloperats-ID.1', 'Forstrevier', 'Abteilung',
       'Unterabteil.', 'Teilfl.', 'WE-Typ', 'Betriebsklasse', 'Umtriebszeit',
       'Nebengrund Art', 'Ertragssituation', 'Bewirtschaftungsform',
       'Schutzwaldkategorie', 'Fläche in HA', 'Seehöhe', 'Exposition',
       'Neigung', 'Standorteinheit', 'Vegetationstyp', 'Waldtyp',
       'Wuchsgebiet', 'Überh. Laubholz', 'Überh. Nadelhz.', 'Waldort',
       'Best.-Schicht', 'Schichtanteil', 'Schichtalter', 'S-Best.grad',
       'Best.-Schicht.1', 'Baumart', 'Baumartenanteil', 'BaumartenBestockgrad',
       'Schälgrad', 'Ertragsklasse', 'Vorrat / ha', 'Laubholzvorrat / ha',
       'Nadelholzvorrat / ha', 'Vorrat am Ort', 'Laubholzvorrat Ort',
       'Nadelholzvorrat Ort', 'GSOLL / HA', 'GIST / HA', 'lauf. Zuwachs / HA',
       'DGZU / HA', 'HDZ', 'LGZ', 'WO', 'age', 'oh', 'mass', 'area', 'FI_ekl',
       'FI_g', 'FI_v'],
      dtype='object')

In [11]:
df_ekl[['Waldort',  'Best.-Schicht', 'Schichtanteil', 'Schichtalter', 'S-Best.grad', 'Baumart','WO', 'age', 'oh', 'mass', 'area', 'FI_ekl']]

,Waldort,Best.-Schicht,Schichtanteil,Schichtalter,S-Best.grad,Baumart,WO,age,oh,mass,area,FI_ekl
0,211D2,1,100,26,1.0,NaN,211D2,26,12.980957,206.460541,4008.835390,8.783649
1,203F1,1,40,186,0.4,NaN,203F1,186,20.699036,345.922668,46474.049004,1.615014
2,292N1,1,90,76,0.9,NaN,292N1,76,19.787997,324.429291,11233.603950,4.049230
3,207I3,1,100,16,0.8,NaN,207I3,16,23.610797,97.780319,7938.496858,44.454279
4,211D3,1,100,26,1.0,NaN,211D3,26,10.923810,104.917824,3702.098614,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
829,294A0,1,100,91,1.0,NaN,294A0,91,18.585999,245.387421,88456.216677,2.802222
830,293C1,2,10,36,0.9,NaN,293C1,36,14.870819,205.051300,39683.483963,6.715847
831,217F3,1,100,56,1.0,NaN,217F3,56,20.255731,379.276886,12636.017891,6.107545
832,300B3,1,100,41,1.0,NaN,300B3,41,17.013347,214.291024,11642.318070,6.920842
833,287L0,1,100,91,1.0,NaN,287L0,91,23.566775,359.684687,26767.030735,4.646954

In [10]:
ekl.bon_new(3, 140, 35.2)

array([  9.53333333,  56.13333333, 797.93333333])

In [8]:
ekl.et_data

array([[1.00000000e+00, 1.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 5.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 1.00000000e+01, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       ...,
       [5.00300000e+03, 1.10000000e+01, 3.90000000e+02, ...,
        1.60400000e+03, 1.06933333e+01, 8.16000000e+00],
       [5.00300000e+03, 1.10000000e+01, 3.95000000e+02, ...,
        1.60400000e+03, 1.06933333e+01, 8.16000000e+00],
       [5.00300000e+03, 1.10000000e+01, 4.00000000e+02, ...,
        1.60400000e+03, 1.06933333e+01, 8.16000000e+00]])

In [9]:
ekl.alter_data

Empty DataFrame
Columns: [Forstbetrieb.1, Teiloperats-ID.1, Forstrevier, Abteilung, Unterabteil., Teilfl., WE-Typ, Betriebsklasse, Umtriebszeit, Nebengrund Art, Ertragssituation, Bewirtschaftungsform, Schutzwaldkategorie, Fläche in HA, Seehöhe, Exposition, Neigung, Standorteinheit, Vegetationstyp, Waldtyp, Wuchsgebiet, Überh. Laubholz, Überh. Nadelhz., Waldort, Best.-Schicht, Schichtanteil, Schichtalter, S-Best.grad, Best.-Schicht.1, Baumart, Baumartenanteil, BaumartenBestockgrad, Schälgrad, Ertragsklasse, Vorrat / ha, Laubholzvorrat / ha, Nadelholzvorrat / ha, Vorrat am Ort, Laubholzvorrat Ort, Nadelholzvorrat Ort, GSOLL / HA, GIST / HA, lauf. Zuwachs / HA, DGZU / HA, HDZ, LGZ, WO, age, oh, area]
Index: []

[0 rows x 50 columns]

In [1]:
import os
import numpy as np
import pandas as pd
import fiona
import rasterio
from rasterio.mask import mask

In [2]:
# set home directory
home_path = os.getcwd()[:os.getcwd().find('Code/python/obf_autax/ekl')-1]
# set shape_path
shape_path = os.path.join(home_path, 'Data', 'obf_autax', 'ekl', 'wo', '171_12_wo_pj.shp')
# set tiff_path
tiff_path = os.path.join(home_path, 'Data', 'obf_autax', 'ekl', 'tiff', 'FB171_ba.tif')
# set output_path
output_path = os.path.join(home_path, 'Data', 'obf_autax', 'ekl', 'output', 'oh_TO1310_12.csv')

print(home_path)
print(shape_path)
print(tiff_path)
print(output_path)

/home/philipp
/home/philipp/Data/obf_autax/ekl/wo/171_12_wo_pj.shp
/home/philipp/Data/obf_autax/ekl/tiff/FB171_ba.tif
/home/philipp/Data/obf_autax/ekl/output/oh_TO1310_12.csv

In [3]:
#df_ba = geo.main('v', tiff_path)

In [4]:
raster = rasterio.open(tiff_path)

In [5]:
raster

In [6]:
raster.count

4

In [7]:
raster.crs

CRS.from_epsg(31287)

In [8]:
raster.indexes

(1, 2, 3, 4)

In [9]:
band1 = raster.read(1)

In [ ]:
np.unique(band1)

In [4]:
def func_compute_oh(geom_all, raster, calc_type):

    #wo = str(geom_all['properties']['REVIER_NR']) + str(geom_all['properties']['ABTEILUNG']) + geom_all['properties']['UNTERABTEI']
    wo = str(geom_all['properties']['ABTEILUNG']) + geom_all['properties']['UNTERABTEI']
    area = geom_all['properties']['GEOM_Area']
    geom = geom_all['geometry']

    # cutting the raster
    out_image, out_transform = mask(raster, [geom], crop=True)
    #out_meta = raster.meta.copy()

    # set -3.402823e+38 to nan
    #out_image[out_image<-3.3e+38]=np.nan

    # flatten array
    flat = out_image.flatten()

    # delete nan
    flat = flat[~np.isnan(flat)]

    # set values under 0 to 0
    flat[flat < 0] = 0

    if flat.size > 0:
        if calc_type == 'oh':
            # calculate oh
            measure = np.percentile(flat, 90)
        if calc_type == 'v':
            # calculate v
            measure = np.mean(flat)
    else:
        measure = 0

    return wo, measure, area

In [18]:
def main(calc_type, raster_path, shp_path):

    # load shapefile with polygons
    with fiona.open(shp_path) as shapefile:
        polygons = [feature for feature in shapefile]

    # load raster with oh information
    raster = rasterio.open(raster_path)

    # compute oh
    hight = []
    for polygon in polygons:
        # compute oh for every polygon
        hight.append(func_compute_oh(polygon, raster, calc_type))

    # convert to numpy array
    hight_np = np.asarray(hight)
    # convert to pandas DataFrame
    hight_df = pd.DataFrame(hight, columns=['wo', calc_type, 'area'])

    return hight_df

In [ ]:
# compute oh
hight = []
for polygon in polygons:
    # compute oh for every polygon
    hight.append(func_compute_oh(polygon, raster, calc_type))

# convert to numpy array
hight_np = np.asarray(hight)
# convert to pandas DataFrame
hight_df = pd.DataFrame(hight, columns=['wo', calc_type, 'area'])

In [6]:
# load shapefile with polygons
with fiona.open(shape_path) as shapefile:
    polygons = [feature for feature in shapefile]

# load raster with oh information
raster = rasterio.open(tiff_path)

In [9]:
geom_all = polygons[0]

wo = str(geom_all['properties']['ABTEILUNG']) + geom_all['properties']['UNTERABTEI']
area = geom_all['properties']['GEOM_Area']
geom = geom_all['geometry']

# cutting the raster
out_image, out_transform = mask(raster, [geom], crop=True)

In [14]:
out_image

4

In [21]:
flat = out_image[3].flatten()

# delete nan
flat = flat[~np.isnan(flat)]

# set values under 0 to 0
flat[flat < 0] = 0

if flat.size > 0:
    measure = np.mean(flat)
else:
    measure = 0

In [22]:
measure

251.70646175373133

In [21]:
df = main('v', tiff_path, shape_path)

In [22]:
df

              wo           v          area
0     202v_3/001  251.248179  17116.236829
1          202G0  120.703560  15984.320097
2          202F2  148.061964  15185.077900
3          202G0  154.469334  11830.447295
4          202E3  178.618998   7121.355644
...          ...         ...           ...
1361       201B5  145.608101   7319.921619
1362       201B4  160.174785   3449.397989
1363       201B3  133.821483   7156.780974
1364       205C2  195.306775  12898.234117
1365       306A1  117.964304  18895.299374

[1366 rows x 3 columns]