## Oberhöhen
input: shape - polygons with the Waödorte-Code (WO)<br>
input: tif - hight of the trees<br>
output: csv - three heigths (oh) per WO<br>

In [1]:
import os
from GISOh import GISOh

In [2]:
# set home directory
home_path = os.getcwd()[:os.getcwd().find('Code/python/obf_autax/ekl')-1]
# set shape_path
shape_path = os.path.join(home_path, 'Data', 'obf_autax', 'ekl', 'wo', '171_12_wo_pj.shp')
# set tiff_path
tiff_path = os.path.join(home_path, 'Data', 'obf_autax', 'ekl', 'tiff', 'FB171_ndsm.tif')
# set output_path
output_path = os.path.join(home_path, 'Data', 'obf_autax', 'ekl', 'oh_TO1310_12.csv')

print(home_path)
print(shape_path)
print(tiff_path)
print(output_path)

/home/philipp
/home/philipp/Data/obf_autax/ekl/wo/171_12_wo_pj.shp
/home/philipp/Data/obf_autax/ekl/tiff/FB171_ndsm.tif
/home/philipp/Data/obf_autax/ekl/oh_TO1310_12.csv

In [3]:
geo = GISOh(shape_path)

In [5]:
df_oh = geo.main('oh', tiff_path)

In [ ]:
df_oh.to_csv(output_path, index=False)

In [6]:
df_oh

              wo         oh          area
0     202v_3/001   0.635400  17116.236829
1          202G0  18.895410  15984.320097
2          202F2  15.806030  15185.077900
3          202G0  21.734009  11830.447295
4          202E3  17.640601   7121.355644
...          ...        ...           ...
1361       201B5  13.602832   7319.921619
1362       201B4  13.871228   3449.397989
1363       201B3  22.258398   7156.780974
1364       205C2  22.944031  12898.234117
1365       306A1  26.776636  18895.299374

[1366 rows x 3 columns]

In [7]:
# set tiff_path
tiff_path = os.path.join(home_path, 'Data', 'obf_autax', 'ekl', 'tiff', 'FB171_vor.tif')

df_v = geo.main('v', tiff_path)

In [8]:
df_v

              wo           v          area
0     202v_3/001   13.582274  17116.236829
1          202G0  311.708069  15984.320097
2          202F2  309.026337  15185.077900
3          202G0  378.455231  11830.447295
4          202E3  263.417175   7121.355644
...          ...         ...           ...
1361       201B5  134.391586   7319.921619
1362       201B4  204.976486   3449.397989
1363       201B3  341.227631   7156.780974
1364       205C2  303.077576  12898.234117
1365       306A1  333.862610  18895.299374

[1366 rows x 3 columns]