In [1]:
import os
import numpy as np
import pandas as pd
import re

In [2]:
# set home directory
home_path = os.getcwd()[:os.getcwd().find('Code/python/obf_autax/bz')-1]
# set bz_path
bz_path = os.path.join(home_path, 'Data', 'obf_autman', 'sources', 'bz_171_10_gs.xlsx')

print(home_path)
print(bz_path)

/home/philipp
/home/philipp/Data/obf_autman/sources/bz_171_10_gs.xlsx

In [3]:
bz_data = pd.read_excel(bz_path)

In [4]:
bz_data.head()

,Abteilung,Unterabteil.,Teilfl.,Betriebsklasse,Umtriebszeit,Ertragssituation,Bewirtschaftungsform,Schutzwaldkategorie,FlÃ¤che in HA,SeehÃ¶he,...,Standorteinheit,Vegetationstyp,Waldtyp,Wuchsgebiet,WO,BZ1,BZ2,BZ3,BZ4,BZ5
0,19,A,1,9010,120,I,W,NaN,0.67,400,...,87,BW,NaN,2020-02-04,19A1,7 BU,2 LH,1 TA,NaN,NaN
1,19,A,2,9010,120,I,W,NaN,4.92,400,...,87,BW,NaN,2020-02-04,19A2,7 BU,2 LH,1 TA,NaN,NaN
2,19,B,1,9010,120,I,W,NaN,5.51,400,...,87,BW,NaN,2020-02-04,19B1,7 BU,2 LH,1 TA,NaN,NaN
3,19,B,2,9010,120,I,W,NaN,1.31,400,...,87,BW,NaN,2020-02-04,19B2,7 BU,2 LH,1 TA,NaN,NaN
4,19,C,1,9010,120,I,W,NaN,0.69,500,...,88,WW,NaN,2020-02-04,19C1,7 BU,2 SL,1 TA,NaN,NaN

In [5]:
#bz_data.columns = ['WO','WE-Typ','BZ1','BZ2','BZ3','BZ4','BZ5']

In [6]:
# filter just WO
bz_data = bz_data.loc[bz_data['WE-Typ']=='WO', :]

In [6]:
bz_data = bz_data[['WO', 'BZ1', 'BZ2', 'BZ3', 'BZ4', 'BZ5']]

In [7]:
bz_data.iloc[0,:]

WO     19A1
BZ1    7 BU
BZ2    2 LH
BZ3    1 TA
BZ4     NaN
BZ5     NaN
Name: 0, dtype: object

In [8]:
bz = bz_data.copy()

In [9]:
bz = bz.fillna(0)

### create empty dataframe

In [10]:
index = bz['WO'].unique()

In [11]:
#columns = ['FI', 'TA', 'LA', 'KI', 'SK', 'DG', 'TH', 'BU', 'EI', 'HB', 'AH', 'ES', 'ER', 'RE', 'LI', 'SP', 'EL', 'KB', 'RE', 'SN', 'SL']

In [12]:
# define columns of all possible tree species (BA)
columns = ["FI", "TA", "LA", "KI", "SK", "ZI", "PM", "DG", "KW", "SF", "FO", "TH", "FB", "AC", "AG", "AZ", "EB", "FZ", "GK", "HT", "JL", "CJ", "KK", "KO", "AN", "AB", "CH", "PU", "SN", "BU", "EI", "HB", "AH", "SA", "FA", "EA", "ES", "UL", "QP", "QR", "EZ", "RE", "FE", "ER", "GE", "AV", "KB", "TK", "WO", "SG", "NU", "JN", "LI", "LS", "LW", "BI", "PO", "AS", "WP", "SP", "HP", "WD", "SW", "EK", "RK", "EE", "EL", "ME", "RO", "TB", "GB", "ST", "SL", "BL"]

In [13]:
df = pd.DataFrame(index=index, columns=columns)
df = df.fillna(0) # with 0s rather than NaNs

In [14]:
df

,FI,TA,LA,KI,SK,ZI,PM,DG,KW,SF,...,RK,EE,EL,ME,RO,TB,GB,ST,SL,BL
19A1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19A2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19B1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19B2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19C1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
333D0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
333E1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
333E2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
333E3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
333E4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### change structure

In [15]:
for i in range(bz.shape[0]):
    row = bz.iloc[i,:]
    wo = row['WO']
    for j in range(1, bz.shape[1]):
        if row.iloc[j] != 0:
            bz_x = re.findall(r"[\w']+", row.iloc[j])
            df.loc[wo,bz_x[1]] = bz_x[0]

In [16]:
df['Waldort'] = df.index

In [17]:
df

,FI,TA,LA,KI,SK,ZI,PM,DG,KW,SF,...,EL,ME,RO,TB,GB,ST,SL,BL,LH,Waldort
19A1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,19A1
19A2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,19A2
19B1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,19B1
19B2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,19B2
19C1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,0,NaN,19C1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
333D0,0,0,0,5,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,333D0
333E1,0,0,6,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,333E1
333E2,0,0,5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,333E2
333E3,0,0,6,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,333E3
333E4,0,0,6,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,333E4

In [18]:
#data_path = os.path.join(home_path, 'data', 'obf', 'csv', 'bz')
#df.to_csv(data_path + "/bz_171_01.csv", index=False)

In [19]:
# set raw_path
#raw_path = os.path.join(home_path, 'Data', 'obf_autman', 'sources', 'TO_1310_11_roh.XLS')
# set raw_path
raw_path = os.path.join(home_path, 'Data', 'obf_autman', 'raw_data', 'TO_1310_171_10_20201203.XLS')
# read tsv
wo_data = pd.read_csv(raw_path, sep='\t', encoding = "ISO-8859-1", decimal=',', error_bad_lines=False)
# filter relevant data
wo_data = wo_data[wo_data['Best.-Schicht'] == 0]

### pernitz
#wo_data = wo_data[wo_data['Abteilung'] > 200]

b'Skipping line 1412: expected 152 fields, saw 153\n'
/home/philipp/miniconda3/envs/autax_rec/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (29,36,146,147,148,149) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [20]:
# merge

# sort data
wo_data.sort_values(by=['Abteilung', 'WE-Typ', 'Unterabteil.', 'Teilfl.'], ascending=[True,False,True,True], inplace=True)
wo_data = wo_data[['Waldort', 'WE-Typ']]

merge_data = pd.merge(wo_data, df, how='left', on='Waldort')

In [21]:
merge_data

,Waldort,WE-Typ,FI,TA,LA,KI,SK,ZI,PM,DG,...,EE,EL,ME,RO,TB,GB,ST,SL,BL,LH
0,019A0,WO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,019B1,WO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,019B2,WO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,019C1,WO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,019C2,WO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1591,33331,NG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1592,999A2,WO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1593,999A4,WO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1594,999A5,WO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1595,999A6,WO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
#merge_data.iloc[:,2:].astype(int)

In [23]:
merge_data.fillna(0, inplace = True)
merge_data.iloc[:,2:] = merge_data.iloc[:,2:].astype(int)

In [25]:
# set bz_path
save_path = os.path.join(home_path, 'Data', 'obf_autman', 'csv', 'johannklause', 'bz_autax_1310_171_10_20201203.csv')
merge_data.to_csv(save_path, index=False)