In [1]:
import os
import numpy as np
import pandas as pd
import re

In [2]:
# set home directory
home_path = os.getcwd()[:os.getcwd().find('Code/python/obf_autax/bz')-1]
# set bz_path
bz_path = os.path.join(home_path, 'Data', 'obf_autman', 'sources', 'bz_171_12_ps.xlsx')

print(home_path)
print(bz_path)

/home/philipp
/home/philipp/Data/obf_autman/sources/bz_171_12_ps.xlsx

In [3]:
bz_data = pd.read_excel(bz_path)

In [4]:
bz_data.head()

,Forstbetrieb,Forstrevier,Abteilung,Unterabteil.,Teilfl.,WE-Typ,Betriebsklasse,Umtriebszeit,Nebengrund Art,Ertragssituation,...,Standorteinheit,Vegetationstyp,Bestockungsziel,Flächenanteil,WO,BZ1,BZ2,BZ3,BZ4,BZ5
0,171,12,201,A,0,WO,9040.0,160,NaN,I,...,26.0,SL,3BU 4LA 3SK,0,201A0,4 KI,3 SK,3 BU,NaN,NaN
1,171,12,201,B,1,WO,9040.0,160,NaN,I,...,14.0,E,1KI 2BU 7SK,0,201B1,8 SK,2 BU,NaN,NaN,NaN
2,171,12,201,B,2,WO,9010.0,140,NaN,I,...,26.0,B,4BU 6KI,0,201B2,7 KI,3 BU,NaN,NaN,NaN
3,171,12,201,B,3,WO,9010.0,140,NaN,I,...,26.0,B,4FI 4KI 2SK,0,201B3,5 KI,2 SK,2 BU,1 AH,NaN
4,171,12,201,B,4,WO,9010.0,140,NaN,I,...,25.0,SL,2FI 7KI 1LA,0,201B4,7 KI,3 BU,NaN,NaN,NaN

In [5]:
# filter just WO
bz_data = bz_data.loc[bz_data['WE-Typ']=='WO', :]

In [6]:
bz_data = bz_data[['WO', 'BZ1', 'BZ2', 'BZ3', 'BZ4', 'BZ5']]

In [7]:
bz_data.iloc[0,:]

WO     201A0
BZ1     4 KI
BZ2     3 SK
BZ3     3 BU
BZ4      NaN
BZ5      NaN
Name: 0, dtype: object

In [8]:
bz = bz_data.copy()

In [9]:
bz = bz.fillna(0)

### create empty dataframe

In [10]:
index = bz['WO'].unique()

In [11]:
columns = ['FI', 'TA', 'LA', 'KI', 'SK', 'DG', 'TH', 'BU', 'EI', 'HB', 'AH', 'ES', 'ER', 'RE', 'LI', 'SP', 'EL', 'SN', 'SL']

In [12]:
df = pd.DataFrame(index=index, columns=columns)
df = df.fillna(0) # with 0s rather than NaNs

In [13]:
df

,FI,TA,LA,KI,SK,DG,TH,BU,EI,HB,AH,ES,ER,RE,LI,SP,EL,SN,SL
201A0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
201B1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
201B2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
201B3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
201B4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307O2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
307O3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
307O4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
307P1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
307P2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

### change structure

In [14]:
for i in range(bz.shape[0]):
    row = bz.iloc[i,:]
    wo = row['WO']
    for j in range(1, bz.shape[1]):
        if row.iloc[j] != 0:
            bz_x = re.findall(r"[\w']+", row.iloc[j])
            df.loc[wo,bz_x[1]] = bz_x[0]

In [15]:
df['Waldort'] = df.index

In [16]:
df

      FI TA LA KI SK  DG  TH BU  EI  HB AH  ES ER  RE LI  SP EL  SN SL Waldort
201A0  0  0  0  4  3   0   0  3   0   0  0   0  0   0  0   0  0   0  0   201A0
201B1  0  0  0  0  8   0   0  2   0   0  0   0  0   0  0   0  0   0  0   201B1
201B2  0  0  0  7  0   0   0  3   0   0  0   0  0   0  0   0  0   0  0   201B2
201B3  0  0  0  5  2   0   0  2   0   0  1   0  0   0  0   0  0   0  0   201B3
201B4  0  0  0  7  0   0   0  3   0   0  0   0  0   0  0   0  0   0  0   201B4
...   .. .. .. .. ..  ..  .. ..  ..  .. ..  .. ..  .. ..  .. ..  .. ..     ...
307O2  0  0  0  0  7   0   0  2   0   0  1   0  0   0  0   0  0   0  0   307O2
307O3  0  0  0  0  7   0   0  2   0   0  1   0  0   0  0   0  0   0  0   307O3
307O4  0  0  0  0  7   0   0  2   0   0  1   0  0   0  0   0  0   0  0   307O4
307P1  0  0  0  0  7   0   0  2   0   0  1   0  0   0  0   0  0   0  0   307P1
307P2  0  0  4  3  0   0   0  2   0   0  1   0  0   0  0   0  0   0  0   307P2

[863 rows x 20 columns]

In [18]:
#data_path = os.path.join(home_path, 'data', 'obf', 'csv', 'bz')
#df.to_csv(data_path + "/bz_171_01.csv", index=False)

In [19]:
# set raw_path
raw_path = os.path.join(home_path, 'Data', 'obf_autman', 'sources', '1310_171_12_20200821.XLS')
# read tsv
wo_data = pd.read_csv(raw_path, sep='\t', encoding = "ISO-8859-1", decimal=',', error_bad_lines=False)
# filter relevant data
wo_data = wo_data[wo_data['Best.-Schicht'] == 0]

### pernitz
wo_data = wo_data[wo_data['Abteilung'] > 200]

/home/philipp/miniconda3/envs/autax_rec/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (36,40) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [20]:
# merge

wo_data.sort_values(by=['Abteilung', 'WE-Typ', 'Unterabteil.', 'Teilfl.'], ascending=[True,False,True,True], inplace=True)
wo_data = wo_data[['Waldort', 'WE-Typ']]

merge_data = pd.merge(wo_data, df, how='left', on='Waldort')

In [25]:
merge_data.iloc[:,2:].astype(int)

,FI,TA,LA,KI,SK,DG,TH,BU,EI,HB,AH,ES,ER,RE,LI,SP,EL,SN,SL
0,0,0,0,4,3,0,0,3,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,8,0,0,2,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,7,0,0,0,3,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,5,2,0,0,2,0,0,1,0,0,0,0,0,0,0,0
4,0,0,0,7,0,0,0,3,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1012,0,0,0,0,7,0,0,2,0,0,1,0,0,0,0,0,0,0,0
1013,0,0,0,0,7,0,0,2,0,0,1,0,0,0,0,0,0,0,0
1014,0,0,4,3,0,0,0,2,0,0,1,0,0,0,0,0,0,0,0
1015,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1016,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [26]:
merge_data.fillna(0, inplace = True)
merge_data.iloc[:,2:] = merge_data.iloc[:,2:].astype(int)

In [27]:
# set bz_path
save_path = os.path.join(home_path, 'Data', 'obf_autman', 'csv', 'bz_autax_1310_171_12_20200821.XLS')
merge_data.to_csv(save_path, index=False)