In [1]:
#
# Forsteinrichtung
#
# change text: upper lower case, abbreviations, structure
#

In [2]:
import os
import numpy as np
import pandas as pd
import math
import re

In [3]:
pwd

'/home/philipp/Code/python/obf_autax/text'

In [4]:
# set home directory
home_path = os.getcwd()[:os.getcwd().find('Code/python/obf_autax/text')-1]
# set bz_path
text_path = os.path.join(home_path, 'Data', 'obf_autman', 'sources', 'raw', '171_10_Text.XLS')

print(home_path)
print(text_path)

/home/philipp
/home/philipp/Data/obf_autman/sources/raw/171_10_Text.XLS

In [5]:
# roh data
data = pd.read_csv(text_path, sep='\t', encoding = "ISO-8859-1", decimal=',', error_bad_lines=False)

In [6]:
# dict Baumarten
dic_ba_lh_nh = {"AS":"LH", "AZ":"NH", "AH":"LH", "PM":"NH", "BI":"LH", "FB":"NH", "BL":"BL", "AC":"NH", "DG":"NH", 
                "EE":"LH", "EK":"LH", "EB":"NH", "EI":"LH", "EL":"LH", "ES":"LH", "EA":"LH", "FA":"LH", "FI":"NH", 
                "FE":"LH", "FZ":"NH", "GK":"NH", "GB":"LH", "WP":"LH", "GE":"LH", "AG":"NH", "AV":"LH", "HB":"LH", 
                "HT":"NH", "HP":"LH", "JL":"NH", "CJ":"NH", "KK":"NH", "KB":"LH", "KO":"NH", "LA":"NH", "LI":"LH", 
                "ME":"LH", "FO":"NH", "PO":"LH", "AB":"NH", "RO":"LH", "RK":"LH", "BU":"LH", "RE":"LH", 
                "CH":"NH", "ER":"LH", "SK":"NH", "JN":"LH", "SP":"LH", "SF":"NH", "LS":"LH", "SL":"LH", 
                "SN":"NH", "SG":"LH", "PU":"NH", "SA":"LH", "QR":"LH", "KW":"NH", "TH":"NH", "QP":"LH",
                "TK":"LH", "TB":"LH", "UL":"LH", "NU":"LH", "WD":"LH", "KI":"NH", "TA":"NH", "WO":"LH", "LW":"LH", 
                "EZ":"LH", "ZI":"NH"}

In [7]:
# dict Baumarten
dic_ba_small = {"As":"AS", "Az":"AZ", "Ah":"AH", "Pm":"PM", "Bi":"BI", "Fb":"FB", "Bl":"BL", "Ac":"AC", "Dg":"DG", 
                "Ee":"EE", "Ek":"EK", "Eb":"EB", "Ei":"EI", "El":"EL", "Es":"ES", "Ea":"EA", "Fa":"FA", "Fi":"FI", 
                "Fe":"FE", "Fz":"FZ", "Gk":"GK", "Gb":"GB", "Wp":"WP", "Ge":"GE", "Ag":"AG", "Av":"AV", "Hb":"HB", 
                "Ht":"HT", "Hp":"HP", "Jl":"JL", "Cj":"CJ", "Kk":"KK", "Kb":"KB", "Ko":"KO", "La":"LA", "Li":"LI", 
                "Me":"ME", "Fo":"FO", "Po":"PO", "Ab":"AB", "Ro":"RO", "Rk":"RK", "Bu":"BU", "Re":"RE", 
                "Ch":"CH", "Er":"ER", "Sk":"SK", "Jn":"JN", "Sp":"SP", "Sf":"SF", "Ls":"LS", "Sl":"SL", 
                "Sn":"SN", "Sg":"SG", "Pu":"PU", "Sa":"SA", "Qr":"QR", "Kw":"KW", "Th":"TH", "Qp":"QP", "Ez":"EZ",
                "Tk":"TK", "Tb":"TB", "Ul":"UL", "Nu":"NU", "Wd":"WD", "Ki":"KI", "Ta":"TA", "Lw":"LW", "Zi":"ZI"}

In [8]:
# dict Teile
dic_teile = {'Norden Teil':'Nord-Teil', 'Nordosten Teil':'Nordost-Teil', 'Osten Teil':'Ost-Teil', 
             'Südosten Teil':'Südost-Teil', 'Süden Teil':'Süd-Teil', 'Südwesten Teil':'Südwest-Teil', 
             'Westen Teil':'West-Teil', 'Nordwesten Teil':'Nordwest-Teil'}

In [9]:
# dict Abkürzungen
path_data = os.path.join(os.getcwd(),'data', 'Textkuerzel_Manuale_all.xls')
data_dic = pd.read_excel(path_data, index_col='kurz', error_bad_lines=False)

dic_abk = data_dic.to_dict()
dic_abk = dic_abk['lang']

In [10]:
data.drop(data[data['Debitor']!=220442].index, axis=0, inplace=True)
data = data[data['Best.-Schicht']==0]
data_wo = data.copy()
data.drop(data[data['WE-Typ']=='NG'].index, axis=0, inplace=True)

In [11]:
data_text = data[['Waldort', 'Zeile1', 'Zeile2', 'Zeile3', 'Zeile4', 'Zeile5', 'Zeile6']]

In [12]:
data_text

,Waldort,Zeile1,Zeile2,Zeile3,Zeile4,Zeile5,Zeile6
0,046B2,"ST teilweise Nordwest geneigt, örtlich eben, t...","BE zahlreiche FI TA LÄ KI, einige ES ERL, LÄ v...","imOsten und Norden älter, viel BU-HBU-ES-Nver...",NaN,NaN,NaN
1,046B3,"BE FI mono, schlechte h/d Werte; einzelne EI;...",NaN,NaN,NaN,NaN,NaN
2,046A4,"BE stark ungleichaltrig, geringe Qualität, T...","verbissene TA-Naturverjüngung, 1x Roßkastanie...",NaN,NaN,NaN,NaN
3,999A5,"BE stark ungleichaltrig, geringe Qualität, T...","verbissene TA-Naturverjüngung, 1x Roßkastanie...",NaN,NaN,NaN,NaN
4,999A6,BE stark verdämmende Vegetation - Brombeere,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
1573,139A3,"BE an Heubergstraße älter, dort KI, einzelne ...",NaN,NaN,NaN,NaN,NaN
1574,140A4,"BE ungleichaltrig, zahlreich LÄ, einige KB",NaN,NaN,NaN,NaN,NaN
1575,046A1,"ST Nordost bis Südost geneigt, im Norden tei...",BE plenterartige Struktur - TA-BU-Verjüngung...,NaN,NaN,NaN,NaN
1576,046C0,"BE einzelne LÄ KI, längs Grenze stehengebliebe...",alsdienende BA,NaN,NaN,NaN,NaN
1577,046A3,"BE einige LA, Bonität variierend, HB wurden ...","zurückgesetzt, TA-Naturverjüngung, in der Unt...",NaN,NaN,NaN,NaN

In [13]:
def text_merge(row_text):
    
    # merge into whole txt
    whole_text = ''
    for i in np.arange(0,5):
        if isinstance(row_text.iloc[i], str):
            #print(row_text.iloc[i])
            whole_text = whole_text + row_text.iloc[i]
            
    return(whole_text)

In [14]:
def text_indx(whole_text):
    
    # find indexes for splitting
    indx = []
    for i in ['ST ', 'BE ', 'MA ']:
        # find index
        idx = whole_text.find(i)
        # filter not found
        if idx > -1:
            # add index 
            indx.append(whole_text.find(i))
    # add index 
    indx.append(10000)
    indx = np.sort(indx)
    
    return(indx)

In [15]:
def text_cut(whole_text, indx):
    # cut string into peaces
    cut = []
    for i in range(1,len(indx)):
        if whole_text[indx[i-1]:indx[i-1]+2] != 'MA':
            cut.append(whole_text[indx[i-1]:indx[i]])
            
    return(cut)

In [16]:
def text_cutter(data_txt):
    whole_text = text_merge(data_txt)
    indx = text_indx(whole_text)
    cutted_text = text_cut(whole_text, indx)
    return(cutted_text)

In [17]:
def text_splitter(text):
    # delete spaces at the end
    text.rstrip()
    # replace , with ;
    text = text.replace(',', ';')
    text = text.replace('BE ', 'BE; ')
    text = text.replace('ST ', 'ST; ')
    text = text.replace('MA ', 'MA; ')
    
    # split text on ;
    splits = text.split(';')
    
    text_neu = ''
    # manipulate splits
    for split in splits:
        words = re.findall(r"[\w']+", split)
        
        split_neu = ''
        # manipulate words
        for word in words:
            # if Baumart all upper case -> don't change characters
            if word in dic_ba_lh_nh:
                split_neu = split_neu + word + ' '
            # if Baumart upper and lower case -> change to upper case
            elif word in dic_ba_small:
                split_neu = split_neu + dic_ba_small[word] + ' '
            # else change word to lower case
            else:
                word_low = word.lower()
                # if word in dictionary than replace
                if word_low in dic_abk:
                    split_neu = split_neu + dic_abk[word_low] + ' '
                # if word with ung -> first letter upper case
                #elif word[-3:] == 'ung':
                #    word = word.replace(word[0], word[0].upper(), 1)
                #    split_neu = split_neu + word + ' '
                # else add lower case word
                else:
                    split_neu = split_neu + word + ' '
        # delete spaces at the end
        split_neu = split_neu.rstrip()
        # merge splits
        text_neu = text_neu + split_neu + ', '
        
    if text_neu[:4] == 'BE, ':
        text_neu = text_neu.replace('BE, ', 'BE   ', 1)
    elif text_neu[:4] == 'ST, ':
        text_neu = text_neu.replace('ST, ', 'ST   ', 1)
    text_neu = text_neu.rstrip()
    # # delete spaces at the end
    if text_neu[-2:] == ' ,':
        text_neu = text_neu[:-2]
    # replace all patterns from dic_teile(x:y)-x with dic_teile-y
    text_neu = multipleReplace(text_neu, dic_teile)
    #pattern = re.compile(r'\b(' + '|'.join(dic_teile.keys()) + r')\b')
    #text_neu = pattern.sub(lambda x: dic_teile[x.group()], test_neu)
    
    return(text_neu)

In [18]:
def multipleReplace(text, wordDict):
    for key in wordDict:
        text = text.replace(key, wordDict[key])
    return text

In [19]:
n = 34
print(data_text.iloc[n, 0])
print(data_text.iloc[n, 1])
print(data_text.iloc[n, 2])

278B1
ST ehemalige Brandfläche
BE einige BU AH MB FI LÄ KI, an den Rändern teilweise LH-Verj

In [20]:
test = data_text.iloc[40, 0]
print(test)
test_neu = text_splitter(test)
print(test_neu)

323E2
323E2,

In [20]:
import re

In [31]:
txt = 'ST   Steinhalden, Rohboden, örtlich auch Silikatgestein, zlrSchnarrschrecken erfreuen den Naturgenießer im Sommer,","BE   teilweise zugewachsener Steinbruch, 10 J, einige FI LA, nettePioniergesellschaft,'
pattern = '[a-z](?=[A-Z])'
replace = ' '

In [30]:
re.findall(pattern, txt)

['r', 'e']

In [32]:
re.sub(pattern, replace, txt)

'ST   Steinhalden, Rohboden, örtlich auch Silikatgestein, zl Schnarrschrecken erfreuen den Naturgenießer im Sommer,","BE   teilweise zugewachsener Steinbruch, 10 J, einige FI LA, nett Pioniergesellschaft,'

In [33]:
re.finditer(pattern, txt)

In [38]:
# find index
idxs = [(m.start(0), m.end(0)) for m in re.finditer(pattern, txt)]

In [56]:
txtc = 'ST   Steinhalden, Rohboden, örtlich auch Silikatgestein, zlrSchnarrschrecken erfreuen den Naturgenießer im Sommer,","BE   teilweise10 zugewachsener Steinbruch, 10J, einige FI LA, nettePioniergesellschaft,'

In [20]:
def find_missing_whitespaces(string):
    
    # lower case to upper case without whitespace
    patterns = ['[a-zäöü](?=[A-ZÄÖÜ])', '[0-9](?=[a-zäöüA-ZÄÖÜ])', '[a-zäöüA-ZÄÖÜ](?=[0-9])']
    for pattern in patterns: 
        # find index
        idxs = [(m.start(0), m.end(0)) for m in re.finditer(pattern, string)]
        i = 0
        for idx in idxs:
            index = i + idx[1]
            #print(index, txtc[0:index])
            string = string[0:index] + ' ' + string[index:]
            i += 1
    return string

In [21]:
###############
### working ###
###############

temp = text_cutter(data_text.iloc[7])
for i in temp:
    i = find_missing_whitespaces(i)
    test_neu = text_splitter(i)
    print(test_neu)

BE   stark ungleichaltrig, lichtere und dichtere Teile abwechselnd, in den durch Schadereingnisse entstandenen Lücken Brombeere und verdämmende Vegetation, Bestockung stark unterschiedlich licht im Süd West Teil bis zu Bestockungsgrad 0, 7, nahezu reine TA im Norden dicht,

In [22]:
temp

['BE   stark ungleichaltrig, lichtere und dichtere Teile abwechselnd,  in den durch Schadereingnisse entstandenen Lücken - Brombeere und verdämmende Vegetation, Bestockung stark unterschiedlich -licht im SüdWestTeil bis zu Bestockungsgrad 0,7, nahezu reine TA im Norden dicht,']

In [23]:
# make dataframe and write file to disk

In [24]:
index = np.sort(data['Waldort'].unique())

In [25]:
columns = ['text_1', 'text_2', 'text_3', 'text_4']

In [26]:
df = pd.DataFrame(index=index, columns=columns)
df = df.fillna('0') # with 0s rather than NaNs

In [27]:
df

      text_1 text_2 text_3 text_4
019A1      0      0      0      0
019A2      0      0      0      0
019B1      0      0      0      0
019B2      0      0      0      0
019C1      0      0      0      0
...      ...    ...    ...    ...
333E4      0      0      0      0
999A2      0      0      0      0
999A4      0      0      0      0
999A5      0      0      0      0
999A6      0      0      0      0

[1291 rows x 4 columns]

In [28]:
data_text1 = data_text.set_index('Waldort')

In [29]:
for wo in index:
    wof = data_text1.loc[wo]
    temp = text_cutter(data_text1.loc[wo])

    for i, txt in enumerate(temp):
        #test_neu = text_splitter(i)
        txt = find_missing_whitespaces(txt)
        df.loc[wo, 'text_'+str(i+1)] = text_splitter(txt)

In [30]:
df.iloc[:10]

,text_1,text_2,text_3,text_4
019A1,"BE zahlreiche EZ BI KI, einige LA, einzelne DG,",0,0,0
019A2,"BE zahlreich HB, einige EI,",0,0,0
019B1,"BE zahlreich TA, einige ER EI DG, im Westen ...",0,0,0
019B2,"BE einzelne LA Überhälter,",0,0,0
019C1,"ST teilweise eben, im Osten alte Schottergrube,","BE einige HB LA FI, viel BU Nverjg,",0,0
019C2,"BE zahlreich LA KI, einige AH ASP BI EI ES T...",0,0,0
019D1,"BE zahlreich HB TA KI,",0,0,0
019D2,"BE einige ES, zahlreich Laubholz Stockaussch...",0,0,0
019D3,0,0,0,0
020A1,"BE zahlreich EZ, einige EI ER KI,",0,0,0

In [31]:
df['Waldort'] = df.index

In [32]:
data_wo.sort_values(by=['Abteilung', 'WE-Typ', 'Unterabteil.', 'Teilfl.'], ascending=[True,False,True,True], inplace=True)
data_wo = data_wo[['Waldort', 'WE-Typ']]
df = pd.merge(data_wo, df, how='outer', on='Waldort')

df = df.fillna('0') # with 0s rather than NaNs

In [33]:
data_path = os.path.join(home_path, 'Data', 'obf_autman', 'sources', 'text')
df.to_csv(data_path + "/text_171_10_.csv", index=False)

In [35]:
data_path

'/home/philipp/Data/obf_autman/sources/text'