In [1]:
#
# Forsteinrichtung
#
# change text: upper lower case, abbreviations, structure
#

In [2]:
import os
import numpy as np
import pandas as pd
import math
import re

In [3]:
pwd

'/home/philipp/Code/python/obf_autax/text'

In [7]:
# set home directory
home_path = os.getcwd()[:os.getcwd().find('Code/python/obf_autax/text')-1]
# set bz_path
text_path = os.path.join(home_path, 'Data', 'obf_autman', 'sources', 'raw', '171_12_Text.XLS')

print(home_path)
print(text_path)

/home/philipp
/home/philipp/Data/obf_autman/sources/raw/171_12_Text.XLS

In [8]:
# roh data
data = pd.read_csv(text_path, sep='\t', encoding = "ISO-8859-1", decimal=',', error_bad_lines=False)

In [9]:
# dict Baumarten
dic_ba_lh_nh = {"AS":"LH", "AZ":"NH", "AH":"LH", "PM":"NH", "BI":"LH", "FB":"NH", "BL":"BL", "AC":"NH", "DG":"NH", 
                "EE":"LH", "EK":"LH", "EB":"NH", "EI":"LH", "EL":"LH", "ES":"LH", "EA":"LH", "FA":"LH", "FI":"NH", 
                "FE":"LH", "FZ":"NH", "GK":"NH", "GB":"LH", "WP":"LH", "GE":"LH", "AG":"NH", "AV":"LH", "HB":"LH", 
                "HT":"NH", "HP":"LH", "JL":"NH", "CJ":"NH", "KK":"NH", "KB":"LH", "KO":"NH", "LA":"NH", "LI":"LH", 
                "ME":"LH", "FO":"NH", "PO":"LH", "AB":"NH", "RO":"LH", "RK":"LH", "BU":"LH", "RE":"LH", 
                "CH":"NH", "ER":"LH", "SK":"NH", "JN":"LH", "SP":"LH", "SF":"NH", "LS":"LH", "SL":"LH", 
                "SN":"NH", "SG":"LH", "PU":"NH", "SA":"LH", "QR":"LH", "KW":"NH", "TH":"NH", "QP":"LH",
                "TK":"LH", "TB":"LH", "UL":"LH", "NU":"LH", "WD":"LH", "KI":"NH", "TA":"NH", "WO":"LH", "LW":"LH", 
                "EZ":"LH", "ZI":"NH"}

In [10]:
# dict Baumarten
dic_ba_small = {"As":"AS", "Az":"AZ", "Ah":"AH", "Pm":"PM", "Bi":"BI", "Fb":"FB", "Bl":"BL", "Ac":"AC", "Dg":"DG", 
                "Ee":"EE", "Ek":"EK", "Eb":"EB", "Ei":"EI", "El":"EL", "Es":"ES", "Ea":"EA", "Fa":"FA", "Fi":"FI", 
                "Fe":"FE", "Fz":"FZ", "Gk":"GK", "Gb":"GB", "Wp":"WP", "Ge":"GE", "Ag":"AG", "Av":"AV", "Hb":"HB", 
                "Ht":"HT", "Hp":"HP", "Jl":"JL", "Cj":"CJ", "Kk":"KK", "Kb":"KB", "Ko":"KO", "La":"LA", "Li":"LI", 
                "Me":"ME", "Fo":"FO", "Po":"PO", "Ab":"AB", "Ro":"RO", "Rk":"RK", "Bu":"BU", "Re":"RE", 
                "Ch":"CH", "Er":"ER", "Sk":"SK", "Jn":"JN", "Sp":"SP", "Sf":"SF", "Ls":"LS", "Sl":"SL", 
                "Sn":"SN", "Sg":"SG", "Pu":"PU", "Sa":"SA", "Qr":"QR", "Kw":"KW", "Th":"TH", "Qp":"QP", "Ez":"EZ",
                "Tk":"TK", "Tb":"TB", "Ul":"UL", "Nu":"NU", "Wd":"WD", "Ki":"KI", "Ta":"TA", "Lw":"LW", "Zi":"ZI"}

In [11]:
# dict Teile
dic_teile = {'Norden Teil':'Nord-Teil', 'Nordosten Teil':'Nordost-Teil', 'Osten Teil':'Ost-Teil', 
             'Südosten Teil':'Südost-Teil', 'Süden Teil':'Süd-Teil', 'Südwesten Teil':'Südwest-Teil', 
             'Westen Teil':'West-Teil', 'Nordwesten Teil':'Nordwest-Teil'}

In [12]:
# dict Abkürzungen
path_data = os.path.join(os.getcwd(),'data', 'Textkuerzel_Manuale_small.xls')
data_dic = pd.read_excel(path_data, index_col='kurz', error_bad_lines=False)

dic_abk = data_dic.to_dict()
dic_abk = dic_abk['lang']

In [13]:
data.drop(data[data['Debitor']!=220442].index, axis=0, inplace=True)
data = data[data['Best.-Schicht']==0]
data_wo = data.copy()
data.drop(data[data['WE-Typ']=='NG'].index, axis=0, inplace=True)

In [14]:
data_text = data[['Waldort', 'Zeile1', 'Zeile2', 'Zeile3', 'Zeile4', 'Zeile5', 'Zeile6']]

In [15]:
data_text

,Waldort,Zeile1,Zeile2,Zeile3,Zeile4,Zeile5,Zeile6
0,021A1,"ST STOE 81/72, breiter tls steiniger Rücken i...",unter Str,BE mehr BU im N sowie an B1 - dort weniger SS...,Windschutz für B1,MA keinesfalls DF od dgl da labil und windexpo...,Maßnahmen auf B1 abstimmen
1,019C1,"BE im N etw älter mit kaum LH, im SO etw jüng...","LÄ, alte SS",NaN,NaN,NaN,NaN
2,018E1,"BE KI FI grtls lgs Str, nach SW hin reine BU,...",schöner Bestand dank entsprechender Pflege,NaN,NaN,NaN,NaN
3,018B1,"ST STOE 81/82, verkrautet","BE DF 2000, schwach, SG 3-4",NaN,NaN,NaN,NaN
4,018A1,"ST etw felsig in Mitte, örtl etw steiler","BE BU zwiständig, ein BU-Schleier, oben kl Sc...",NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
1883,079G1,ST Feuchtbiotope im W an Rinnsal,"BE lichter im SW, ein ER",NaN,NaN,NaN,NaN
1884,079G2,ST im S Wasserversorgungsanlage Lichtenwörth ...,"BE mehr ES sowie etw älter an G1, an G3 jünge...","anNG jünger mit grtls HP, diffuse Bestandesgr...",NaN,NaN,NaN
1885,079G3,"BE aus RM 2003, besch......eidene Qualität",NaN,NaN,NaN,NaN,NaN
1886,079H0,ST Grundwassersenkung wg Pumpwerk Neudörfl um...,"BE eiz UL, ein SP, langfristig erhaltenswerte...",NaN,NaN,NaN,NaN
2066,071X0,Achtung FE: Neuer Waldort!,NaN,NaN,NaN,NaN,NaN

In [16]:
def text_merge(row_text):
    
    # merge into whole txt
    whole_text = ''
    for i in np.arange(0,5):
        if isinstance(row_text.iloc[i], str):
            #print(row_text.iloc[i])
            whole_text = whole_text + row_text.iloc[i]
            
    return(whole_text)

In [17]:
def text_indx(whole_text):
    
    # find indexes for splitting
    indx = []
    for i in ['ST ', 'BE ', 'MA ']:
        # find index
        idx = whole_text.find(i)
        # filter not found
        if idx > -1:
            # add index 
            indx.append(whole_text.find(i))
    # add index 
    indx.append(10000)
    indx = np.sort(indx)
    
    return(indx)

In [18]:
def text_cut(whole_text, indx):
    # cut string into peaces
    cut = []
    for i in range(1,len(indx)):
        if whole_text[indx[i-1]:indx[i-1]+2] != 'MA':
            cut.append(whole_text[indx[i-1]:indx[i]])
            
    return(cut)

In [19]:
def text_cutter(data_txt):
    whole_text = text_merge(data_txt)
    indx = text_indx(whole_text)
    cutted_text = text_cut(whole_text, indx)
    return(cutted_text)

In [20]:
def text_splitter(text):
    # delete spaces at the end
    text.rstrip()
    # replace , with ;
    text = text.replace(',', ';')
    text = text.replace('BE ', 'BE; ')
    text = text.replace('ST ', 'ST; ')
    text = text.replace('MA ', 'MA; ')
    
    # split text on ;
    splits = text.split(';')
    
    text_neu = ''
    # manipulate splits
    for split in splits:
        words = re.findall(r"[\w']+", split)
        
        split_neu = ''
        # manipulate words
        for word in words:
            # if Baumart all upper case -> don't change characters
            if word in dic_ba_lh_nh:
                split_neu = split_neu + word + ' '
            # if Baumart upper and lower case -> change to upper case
            elif word in dic_ba_small:
                split_neu = split_neu + dic_ba_small[word] + ' '
            # else change word to lower case
            else:
                word_low = word.lower()
                # if word in dictionary than replace
                if word_low in dic_abk:
                    split_neu = split_neu + dic_abk[word_low] + ' '
                # if word with ung -> first letter upper case
                #elif word[-3:] == 'ung':
                #    word = word.replace(word[0], word[0].upper(), 1)
                #    split_neu = split_neu + word + ' '
                # else add lower case word
                else:
                    split_neu = split_neu + word + ' '
        # delete spaces at the end
        split_neu = split_neu.rstrip()
        # merge splits
        text_neu = text_neu + split_neu + ', '
        
    if text_neu[:4] == 'be, ':
        text_neu = text_neu.replace('BE, ', 'BE   ', 1)
    elif text_neu[:4] == 'st, ':
        text_neu = text_neu.replace('ST, ', 'ST   ', 1)
    text_neu = text_neu.rstrip()
    # # delete spaces at the end
    if text_neu[-2:] == ' ,':
        text_neu = text_neu[:-2]
    # replace all patterns from dic_teile(x:y)-x with dic_teile-y
    text_neu = multipleReplace(text_neu, dic_teile)
    #pattern = re.compile(r'\b(' + '|'.join(dic_teile.keys()) + r')\b')
    #text_neu = pattern.sub(lambda x: dic_teile[x.group()], test_neu)
    
    return(text_neu)

In [21]:
def multipleReplace(text, wordDict):
    for key in wordDict:
        text = text.replace(key, wordDict[key])
    return text

In [22]:
n = 34
print(data_text.iloc[n, 0])
print(data_text.iloc[n, 1])
print(data_text.iloc[n, 2])

005F1
ST  ein Blockwerk, kleiner Ort der Ruhe
BE  mehr BU im NO

In [23]:
test = data_text.iloc[40, 0]
print(test)
test_neu = text_splitter(test)
print(test_neu)

025C1
025C1,

In [24]:
###############
### working ###
###############

temp = text_cutter(data_text.iloc[46])
for i in temp:
    test_neu = text_splitter(i)
    print(test_neu)

ST, Grabeneinhang, Standortseinheit 81 im Norden, im Süden flacher,
BE, etwas mehr BU im Süden, etwas mehr FI in Mitte, einige BU Zwischenbestand, Dimensionengrtls noch ausbaufähig,

In [25]:
temp

['ST  Grabeneinhang, STOE 81 im N, im S flacher',
 'BE  etw mehr BU im S, etw mehr FI in Mitte, ein BU-Zwibest, Dimensionengrtls noch ausbaufähig']

In [26]:
# make dataframe and write file to disk

In [27]:
index = np.sort(data['Waldort'].unique())

In [28]:
columns = ['text_1', 'text_2', 'text_3', 'text_4']

In [29]:
df = pd.DataFrame(index=index, columns=columns)
df = df.fillna('0') # with 0s rather than NaNs

In [30]:
df

      text_1 text_2 text_3 text_4
001A1      0      0      0      0
001A2      0      0      0      0
001A3      0      0      0      0
001A4      0      0      0      0
001A5      0      0      0      0
...      ...    ...    ...    ...
307O2      0      0      0      0
307O3      0      0      0      0
307O4      0      0      0      0
307P1      0      0      0      0
307P2      0      0      0      0

[1735 rows x 4 columns]

In [31]:
data_text1 = data_text.set_index('Waldort')

In [32]:
for wo in index:
    wof = data_text1.loc[wo]
    temp = text_cutter(data_text1.loc[wo])

    for i, txt in enumerate(temp):
        #test_neu = text_splitter(i)
        df.loc[wo, 'text_'+str(i+1)] = text_splitter(txt)

In [33]:
df.iloc[:10]

,text_1,text_2,text_3,text_4
001A1,"ST, steiler im Nordosten, im Süden flacher jed...","BE, bis 10 J jünger im Westen sonst bis 5 J äl...",0,0
001A2,"ST, silikatisch im Süden,","BE, schwache Durchforstung 1987 89, Durchforst...",0,0
001A3,"ST, etwas flacher im Süden,","BE, zahlreiche ES, einige FI im Süden, einzeln...",0,0
001A4,"ST, steiler im Norden,","BE, wind schneedurchrissen, Süden labil, mit A...",0,0
001A5,"ST, flacher im Süden,","BE, im Süden einige BU Vorwüchse, im Süden meh...",0,0
001A6,"BE, Windwurfsfläche 2008, Aufforstung 2009, ei...",0,0,0
001B1,"ST, karbonatisch an Grenze, 140jg Umtrieb wege...","BE, einige KI, mehr BU in Süden Hälfte, mehr L...",0,0
001B2,"BE, einige AH KI, mehr LA im Südwesten, in Ost...",0,0,0
001B3,"ST, örtlich silikatisch im Osten, örtlich vern...","BE, 5 10 J älter im Osten, bis 5 J jünger im W...",0,0
001B4,"BE, Windwurfsfläche 2008, Aufforstung 2009, FI...",0,0,0

In [34]:
df['Waldort'] = df.index

In [36]:
data_wo.sort_values(by=['Abteilung', 'WE-Typ', 'Unterabteil.', 'Teilfl.'], ascending=[True,False,True,True], inplace=True)
data_wo = data_wo[['Waldort', 'WE-Typ']]
df = pd.merge(data_wo, df, how='outer', on='Waldort')

df = df.fillna('0') # with 0s rather than NaNs

In [39]:
data_path = os.path.join(home_path, 'Data', 'obf_autman', 'sources', 'text')
df.to_csv(data_path + "/text_171_12_.csv", index=False)

In [40]:
data_path

'/home/philipp/Data/obf_autman/sources/text'